@tailwind base;
@tailwind components;
@tailwind utilities;
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  body {
    @apply bg-primary;
  }


}

.cm-editor {
  border: 0;
  height: 100%;
  line-height: 133%;
  overflow: hidden;
  padding: 18px 18px;
  padding-left: 12px;
  height: auto;
  min-width: auto;
}
