@tailwind base;
@tailwind components;
@tailwind utilities;
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  body {
    @apply bg-primary;
  }

  .CodeMirror .CodeMirror-scroll {
    overflow: hidden;
  }
}

.cm-editor {
  padding-left: 12px;
  height: auto;
  width: auto;
}
